<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-pingpp"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="0.0.1">

    <name>Pingpp</name>

    <description>cordova plugin for pingxx</description>

    <author>tongChia@Airsia.co</author>

    <keywords>pingpp,pingxx,ping++,alipay,weixin,pay</keywords>

    <license>Apache 2.0</license>

    <preference name="URL_SCHEME" />

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/pingpp.js" target="js/pingpp.js"/>

    <js-module src="www/pingpp.js" name="pingpp">
        <clobbers target="pingpp" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PingppPlugin">
                <param name="android-package" value="co.airsia.cordova.PingppPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.SEND_SMS" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.READ_SMS" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <activity
                    android:name="com.pingplusplus.android.PaymentActivity"
                    android:launchMode="singleTop"
                    android:theme="@android:style/Theme.Translucent.NoTitleBar" />
            <activity-alias
                    android:name=".wxapi.WXPayEntryActivity"
                    android:exported="true"
                    android:targetActivity="com.pingplusplus.android.PaymentActivity" />
            <activity
                    android:name="com.alipay.sdk.app.H5PayActivity"
                    android:configChanges="orientation|keyboardHidden|navigation"
                    android:exported="false"
                    android:screenOrientation="behind" />
            <activity
                    android:name="com.alipay.sdk.auth.AuthActivity"
                    android:configChanges="orientation|keyboardHidden|navigation"
                    android:exported="false"
                    android:screenOrientation="behind" />
        </config-file>

        <source-file src="src/android/PingppPlugin.java" target-dir="src/co/airsia/cordova/"/>
        <source-file src="libs/android/alipaysdk.jar" target-dir="libs" framework="true"/>
        <source-file src="libs/android/alipaysecsdk.jar" target-dir="libs" framework="true"/>
        <source-file src="libs/android/alipayutdid.jar" target-dir="libs" framework="true"/>
        <source-file src="libs/android/libammsdk.jar" target-dir="libs" framework="true"/>
        <source-file src="libs/android/libpingpp.jar" target-dir="libs" framework="true"/>
        <source-file src="libs/android/UPPayAssistEx.jar" target-dir="libs" framework="true"/>
    </platform>
    <platform name="ios">
        <!-- framework -->
        <framework src="CFNetwork.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="libc++.dylib" />
        <framework src="libz.dylib" />
        <framework src="libsqlite3.0.dylib" />

        <!-- Channels -->
        <!-- Alipay -->
        <resource-file src="libs/ios/Channels/Alipay/AlipaySDK.bundle"/>
        <framework src="libs/ios/Channels/Alipay/AlipaySDK.framework" custom="true"/>
        <source-file src="libs/ios/Channels/Alipay/libpingpp+alipay.a" framework="true"/>

        <!-- wx -->
        <source-file src="libs/ios/Channels/Wx/libpingpp+wx.a" framework="true"/>
        <source-file src="libs/ios/Channels/Wx/libWeChatSDK.a" framework="true"/>

        <!-- pingxx -->
        <resource-file src="libs/ios/Pingpp.bundle"/>
        <source-file src="libs/ios/libpingpp.a" framework="true"/>
        <header-file src="libs/ios/Pingpp.h"/>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$URL_SCHEME</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="config.xml" parent="/widget">
            <feature name="PingppPlugin">
                <param name="ios-package" value="PingppPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/PingppPlugin.h" target-dir="PingppPlugin"/>
        <source-file src="src/ios/PingppPlugin.m" target-dir="PingppPlugin"/>
    </platform>
</plugin>
